@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #d8eefe;
  color: #5f6c7b;
  margin: 4%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Karla", sans-serif;
  text-align: center;
}

.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.links a {
  padding: 12px;
  margin: 5px;
  border-radius: 0.2em;
  text-decoration: none;
  color: #094067;
  font-weight: bold;
  background-color: #fffffe;
}

.links a:hover {
  background-color: #d8eefe;
  text-decoration: underline #ef4565;
  text-underline-position: under;
  font-weight: lighter;
}

.container {
  background-color: #fffffe;
  padding: 20px;
  border-radius: 0.2em;
}
